<% if (post.categories && post.categories.length){ %>
  <div class="post__category">
    <%- list_categories(post.categories, {
      show_count: false,
      class: 'post__category',
      style: 'none',
      separator: '►'
    }) %>
  </div>
<% } %>