.posts
	width 800px
	&__list
		li
			display block
			padding 20px 25px
.post
	&__title
		font-size 22px
		line-height 1.5
		font-weight bold

	&__date
		font-size 12px
		font-weight bold
		padding 0 0 10px 
		border-bottom 1px solid #ddd
